* {
  font-family: Arial, sans-serif;
}

/************************************************************** TAG **************************************************************/
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2.3rem;
}
h4{
  font-size: 1.3rem;
}
h5{
  font-size: small;
}
footer h5{
  font-size: 0.9rem;
}

img {
  max-width: 100%;
}


/************************************************************** CLASSI **************************************************************/

/* header */

.sony_logo_img {
  height: 16px; 
}

.nav_chevron-down {
  width: 10px;
}

.nav_lens {
  width: 20px;
}

/* main */

.hero_section {
  background-image: url(../img/jumbo-bg.png);
  background-position: top;
  color: white;
}

.returnal_logo {
  width: 60%;
  padding-top: 200px;
}

.my_card {
  padding: 3px;
  border-radius: 20px;
}

.my_card img {
  border-radius: 15px;
}

.my_card:focus {
  border: 2px solid #0072ce;
}


/******************************* LAYOUT *******************************/


/******************************* UTILITIES *******************************/

/* Buttons */
.my_btn {
  display: inline-block;
  line-height: 36px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  padding: 0 14px;
  color: white;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.my_btn_buy {
  background-color: #CD3D0F;
  border-color: #CD3D0F;
}
.my_btn_sign-in {
  background-color: #363636;
  border-color: #363636;
  color: white !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
}
.my_btn_more {
  background-color: #2D64E6;
  border-color: #2D64E6;
}
.my_btn_explore {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
  color: black;
}
.my_btn_explore-v2 {
  background-color: #D9DADC;
  border-color: #D9DADC;
  color: #698FEC;
}

.my_btn_buy:hover {
  background-color: #bb380d;
  border-color: #bb380d;
}
.my_btn_sign-in:hover {
  background-color: #1f1e1e;
  border-color: #1f1e1e;
}
.my_btn_more:hover {
  background-color: #2757c7;
  border-color: #2757c7;
}
.my_btn_explore:hover {
  background-color: #c4c0c0;
  border-color: #c4c0c0;
}
.my_btn_explore-v2:hover {
  background-color: #a9abad;
  border-color: #a9abad;
}

/* texts */

.text_dark {
  color: #1F1F1F;
}
.text_blue-sky {
  color: #2D64E6;
}
.text_cyan {
  color: #0072ce;
}
.text_grey {
  color: #727272;
}
.text_white {
  color: white;
}

/* backgrounds */

.bg_black {
  background-color: black;
}
.bg_dark {
  background-color: #1F1F1F;
}
.bg_dark-blue {
  background-color: #161C3B;
}
.bg_cyan {
  background-color: #00439C;
}
.bg_grey {
  background-color: #BEBCBB;
}

/* containers */

.container_p-big {
  padding-top: 70px;
  padding-bottom: 70px;
}
.container_p-medium {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container_p-small {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* spacing */

.margin_bottom_25 {
  margin-bottom: 25px;
}

/******************** Media queries ********************/

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
  }
}